.usname{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 5%;
}

.pas{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 1%;
}

.aut{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 1%;
}

.forget{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 2%;
}

.conE{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 2%;
}

.noti{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 5%;
}
